<div class="container">
    <div class="listagem">
        <div class="box-pesquisa">
            <input type="text" placeholder="Digite o nome do aluno ou email">
            <button>Pesquisar</button>
        </div>
    </div>

    <div [className]="statusTabela">
        <table>
            <thead>
                <tr>        
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Email</th>
                    <th>Curso</th>
                    <th>Ações</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let dado of dadosAluno">
                    <td>{{dado.nome}}</td>
                    <td>{{dado.cpf}}</td>
                    <td>{{dado.email}}</td>
                    <td>{{dado.curso}}</td>
                    <td class="box-acoes">
                        <button (click)="edit(dado)">Editar</button>
                        <button (click)="delete(dado)">Excluir</button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>